.topbanner {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background: floralwhite;
  font-family: Copperplate, Papyrus, fantasy;
  color: purple;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.banner {
  background-image: url("https://cdn.pixabay.com/photo/2018/11/23/10/04/flamingo-3833550__480.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  font-family: Copperplate, Papyrus, fantasy;
  color: purple;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.slider {
  position: relative;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: floralwhite;
}

.images {
  width: 750px;
  height: 300px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 175px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 175px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 1;
  transition-duration: 2s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 2s;
}

.amenities {
  
  display: flex;
  flex-direction: row;
  background: floralwhite;
  align-items: center;
  justify-content: center;
  color: purple;
  font-weight: bold;
  text-align: justify;
  font-size: 16px;
}

.amenities ul
{
  list-style-type: none;
  font-size: 14px;
}

.table {
  float: left;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: floralwhite;
  align-items: center;
  justify-content: center;
}

/* @media (min-width: 375px) {
  .table {
    flex-direction: column;
  }
} */

.link {
  color: purple;
  text-decoration: none;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
    background: bisque;
  }
}

.MuiGrid-item {
  height: 45px;
}

.MuiButtonBase-root MuiButtonBase-root MuiButton-contained {
  margin-top: 15px;
  width: 55px;
  height: 45px;
}

.container {
  display: flex;
  flex-direction: column;
  background: floralwhite;
  font-weight: bold;
}

.container label {
  font-size: 16px;
}
.container input {
  font-size: 16px;
  margin: 5px;
  width: 200px;
  padding-left: 5px;
}

.container button {
  font-size: 16px;
  margin: 5px;
  width: 200px;
  background-color: goldenrod;
}

input:required + span:after {
  content: "*";
}

#mui-component-select-room_type {
  width: 200px;
  padding-left: 15px;
}

#mui-component-select-board_type {
  width: 200px;
  padding-left: 15px;
}

.displaytable {
  display: flex;
  flex-direction: column;
  text-align:left;
  background: floralwhite;
  font-weight: bold;
  font-size: 16px;
  overflow: scroll;
}

table {
  border: 2px;
  border-style:double;
  padding: 15px;
}

