.topbanner {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
}

.banner {
  /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLL43diHthOj0i0GzfR2IvTI72LhdPcw4TGA&usqp=CAU")
    center/ cover no-repeat; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLL43diHthOj0i0GzfR2IvTI72LhdPcw4TGA&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-info {
  color: white;
  text-align: center;
  font-size: 16px;
}

.amenities {
  margin: auto;
  float: left;
  width: 50%;
}

.amenities ul {
  list-style-type: none;
}

.slider {
  position: relative;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: floralwhite;
}

.images {
  width: 500px;
  height: 250px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 175px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 175px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 1;
  transition-duration: 2s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 2s;
}

.table {
  float: left;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: floralwhite;
  align-items: center;
  justify-content: center;
}

.Enquiry {
  display: flex;
  background: floralwhite;
}

.link {
  color: hotpink;
  text-decoration: none;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}

.MuiGrid-item {
    height: 45px;
}

.MuiButtonBase-root MuiButtonBase-root MuiButton-contained {
    margin-top: 15px;
    width: 55px;
    height: 45px;
}

.enquirycontainer {
    display: flex;
    flex-direction: column;
    align-items:;
}

.enquirycontainer label {
    font-size: 16px;
}
.enquirycontainer input {
    font-size: 16px;
    margin: 5px;
    width: 200px;
}

.enquirycontainer button {
    font-size: 16px;
    margin: 5px;
    width: 200px;
}

#mui-component-select-room_type {
    width: 200px;
}

#mui-component-select-board_type {
    width: 200px;
}

.logincontainer {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.logincontainer input {
    font-size: 16px;
    margin: 5px;
    width: 200px;
}

.logincontainer button {
    font-size: 16px;
    margin: 5px;
    width: 200px;
}